[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/rekha95
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/rekha95
	label-Verified = -1..+1 group user/rekha95
	push = group user/rekha95
	read = group user/rekha95
	rebase = group user/rekha95
	removeReviewer = group user/rekha95
	submit = group user/rekha95
[access "refs/heads/*"]
	create = group user/rekha95
	push = +force group user/rekha95
	pushMerge = group user/rekha95
	read = group user/rekha95
[access "refs/tags/*"]
	push = group user/rekha95
	push = +force group user/rekha95
